#login-form{
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;

}
#login-form h1{

}
input{
    display: block;
    border: none;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
form button{
    border: none;
    background-color: rgb(35, 87, 255);
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}
